<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.carsharing">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
     android:maxSdkVersion="28"   />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"            />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CarSharing">

        <activity
            android:name="com.app.carsharing.views.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.chats.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.trips.MyTripsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.trips.ConfirmJoinActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.trips.TripEditActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.trips.TripDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.loginsystem.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.loginsystem.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.loginsystem.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.app.carsharing.views.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name="com.app.carsharing.views.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>